{% set _Title = '同城' %}
{% extends '_base.html' %}
{% import "_macro.html" as macro %}
{% block css %}
<link type="text/css" href="css/3rd/plugins/chosen/chosen.css?ver={{_Config.res3rdVersion}}" rel="stylesheet" />
<style type="text/css">
	#club-form-main{
		height: 370px;
		width: 600px;
	}
</style>
{% endblock %}

{% block main %}
	<h1>协会 </h1>
	<div id="main-content">
		<div class="breadcrumbs">
			<ul>
				<li>
					<a href="index.html">首页</a>
					<i class="fa fa-angle-right"></i>
				</li>
				<li>
					<span>协会</span>
				</li>
			</ul>
			<div class="close-bread">
				<a>
					<i class="fa fa-times"></i>
				</a>
			</div>
		</div>
<form id="club-form" class="{{check_perm('main-contents', data._id? 'EDIT': 'ADD')? '': 'readonly_form'}}" action="lbs/club-form.html" target="#club-list">
	<div class="box">
		<div class="box-title">
			<h3>ID:{{club._id? ' - ' ~ club._id: ''}}</h3>
		</div>
		<div class="box-content">
			<div>
				<table class="form">
					<tr>
						<th width="80">协会名称：</th>
						<td colspan="2">
							<input type="text" name="name" id="club-name" class="form-control" value="{{club.name}}" placeholder="请输入协会名称" autofocus="on" app-required="on" autocomplete="off" />
						</td>
					</tr>
					<tr>
                        <th>关联城市：</th>
                        <td colspan="3">
                            <select id="club-service-area" name="service_area[]" class="form-control" multiple>
                                {% for city in cities %} {% set cid = city._id ~ '' %}
                                <option value="{{cid}}::{{city.city}}" {{slted.city[cid] is defined? ' selected': ''}}>{{city.city}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
					<tr>
                        <th>会徽：</th>
					    <td>
						    {{ macro.thumb('club-icon', club.icon) }}
							{{ macro.upload('club-icon', 'club-icon', 'default', false) }}
						</td>	
					</tr>
					<tr>
						<th>简介：</th>
						<td>
							<textarea name="summary" placeholder="请输入协会简介" class="form-control video-text fl">{{ club.summary}}</textarea>
						</td>
					<tr>
						<th style="vertical-align:top">协会信息：</th>
						<td colspan="3" id="video-contents">
							{% set contents = club.contents %}
							{% for content in contents %}
							{% set idx = loop.index0 %}
								<div class="form-group video-text-row">
									<div class="col-sm-11" style="padding: 0">
										<input name="contents[title][{{idx}}]" placeholder="请输入副标题" class="form-control" value="{{content.title}}" autocomplete="off" />
									</div>
									<div class="col-sm-1" style="padding: 0">
										<br />&nbsp;&nbsp;
										<a class="fa fa-times"></a>
										&nbsp;&nbsp;
										<a class="fa fa-plus"></a>
									</div>
									{% for val in content.text %}
									<div class="video-text">
										<div class="col-sm-11" style="padding: 0;margin-top: 10px;">
											<textarea name="contents[text][{{idx}}][]" placeholder="请输入内容" class="form-control video-text fl">{{val}}</textarea>
										</div>
										<div class="col-sm-1" style="padding: 0">
											<br />&nbsp;&nbsp;
											<a class="fa fa-times" txt="1"></a>
											&nbsp;&nbsp;
										<a class="fa fa-plus" txt="1"></a>
										</div>
									</div>
									{% endfor %}
									<div class="cb"></div>
								</div>
							{% endfor %}
						</td>
					</tr>
					<tr>
						<th>状态：</th>
						<td colspan="2">
							<input type="checkbox" name="status" id="category-status" value="1"{{not club._id or club.status? ' checked': ''}} />
							<label for="club-status">启用</label>
						</td>
					</tr>
					<tr>
			
					</tr>
				</table>
				<div class="form-group" style="margin: 10px 0 0 80px;">
					<input type="hidden" name="id" id="club-id" value="{{club._id}}" />
					<button type="submit" id="category-submit" class="btn btn-primary">保存</button>
					<button type="button" id="cancel-button" class="btn"  app-state="cancel">取消</button>
				</div>
			</div>
		</div>
	</div>
	<div class="content form-horizontal" style="margin-top: 20px;">
					<div id="teaching-main">
						<div class="form-group">
							<label for="teaching-status" class="control-label" style="width: 80px;"></label>
							<div class="col-sm-10">
								<a id="club-service-btn" class="btn btn-success{{club? '' : ' disabled'}}"><b class="fa fa-video-camera"></b>添加社会服务</a>
							</div>
						</div>
						<div class="form-group">
							<label for="teaching-status" class="control-label" style="width: 80px;"></label>
							<div class="col-sm-10" id="video-list">
								{% include 'lbs/club-service-list.html' %}
							</div>
						</div>
					</div>
					<p>&nbsp;</p>
					<div class="clearfix"></div>
				</div>
</form>
{% endblock %}

{% block js %}
<script type="text/javascript" src="js/3rd/plugins/chosen/chosen.jquery.min.js?ver={{_Config.res3rdVersion}}"></script>
<script type="text/javascript">
$(function() {
		$('#club-service-area,#club-service').chosen();
		$('#club-form').on('click', '#club-service-btn, a.icon-edit', function() {
		var p   = [];
		var club_id = $.trim($('#club-id').val());
		var vid = $.trim($(this).attr('vid') || '');
		p.push('club_id=' + encodeURIComponent(club_id));
		p.push('vid=' + encodeURIComponent(vid));
		App.Box.open('lbs/club-service-form.html?' + p.join('&'));
	}).on('click', 'a.delete-service', function() {
		var vid = $(this).closest('tr').attr('data-id');
		App.ajax({
			url: 'lbs/club-service-delete.html',
			data: {'vid': vid},
			dataType: 'html',
			type: 'post',
			target: '#service-list',
			success: function() {
						App.Box.close();
						location.reload();
					}
		});
	});
	var updateContentIdx = function() {
			$('#video-contents>div.video-text-row').each(function(idx) {
				var row = $(this);
				row.find('textarea').attr('name', 'contents[text][' + idx + '][]');
				row.find('input').attr('name', 'contents[title][' + idx + ']');
			});
		}
		$('#video-contents').on('click', 'a.fa-times', function() {
			if(!$(this).attr('txt')) {
				var row = $(this).closest('div.video-text-row');
				if($('#video-contents>div.video-text-row ').length > 1) {
					row.slideUp(100, function() {
						$(this).remove();
						updateContentIdx();
					});
				} else {
					row.find('textarea').val('');
					row.find('input').focus();
					updateContentIdx();
				}
			} else {
				var parent = $(this).closest('div.video-text-row');
				var rows   = parent.find('div.video-text');
				if(rows.length > 1) {
					$(this).closest('div.video-text').remove();
				} else {
					rows.find('textarea').val('').focus();
				}
			}
		}).on('click', 'a.fa-plus', function() {
			if(!$(this).attr('txt')) {
				var row = $(this).closest('div.video-text-row');
				var clone = row.clone();
				clone.find('div.video-text').each(function(idx) {
					if(idx > 0) {
						$(this).remove();
					}
				});
				clone.find('textarea').val('');
				clone.find('input').val('');
				row.after(clone);
				updateContentIdx();
				clone.find('input').focus();
			} else {
				var row = $(this).closest('div.video-text');
				var clone = row.clone();
				clone.find('textarea').val('');
				row.after(clone);
				clone.find('textarea').focus();
			}
		});
		$('#cancel-button').on('click', function() {
		location.href = 'lbs/club.html';
		});
		$('#club-form').on('submit', function() {
			if(App.checkValidity(this)) {
				App.ajax({
					form: this,
					success: function() {
						location.href = 'lbs/club.html';
					}
				});
			}
			return false;
		});
	}).on('close', function(event, box, state) {	
	});
</script>
{% endblock %}
