<table class="table table-hover">
	<thead>
		<tr>
			<th width="30"><input type="checkbox" rel="#category-trash-btn" /></th>
			<th width="70">图标</th>
			<th>分类名称</th>
			<th width="70" style="text-align: right;">价格</th>
			<th width="50">显示</th>
			<th width="50">次序</th>
			<th width="50">状态</th>
			<th width="50">首页</th>
			<th width="30"></th>
		</tr>
	</thead>
	<tbody>
		{% for cat in categoryList %}
		<tr cat-id="{{cat._id}}">
			<td><input type="checkbox" name="cat" value="{{cat._id}}" /></td>
			<td>{% if cat.cover %}<img src="{{cat.cover}}" style="max-width: 60px;" />{% endif %}</td>
			<td>
				{{cat.name}}
				{% if cat.subtitle %}<br />
				<i style="color: #888;">{{cat.subtitle}}</i>
				{% endif %}
			</td>
			<td align="right">{{cat.price|number_format(2)}}</td>
			<td>{{cat.list_type==2?'图标':'列表'}}</td>
			<td>{{cat.priority}}</td>
			<td>{{cat.status|status}}</td>
			<td>{{cat.promotion|status}}</td>
			<td class="table-action">
				<a class="fa icon-edit" app-bubble="false"></a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>