<div class="text-right">
	<button id="news-add-btn" class="btn btn-success"><b class="fa fa-plus"></b>新建</button>
	<button id="news-trash-btn" class="btn disabled"><b class="fa fa-trash"></b>删除选中</button>
	<form action="news/list.html" method="GET">
		<select name="type" class="form-control" style="display: inline-block; width: auto;" onchange="if(!this.value) { this.disabled = true; } this.form.submit();">
			<option value="">类型</option>
			<option value="link"{{type=='link'? ' selected': ''}}>H5</option>
			<option value="native"{{type and type!='link'? ' selected': ''}}>原生</option>
		</select>
		<select name="promotion" class="form-control" style="display: inline-block; width: auto;" onchange="if(!this.value) { this.disabled = true; } this.form.submit();">
			<option value="">资讯类型</option>
            <option value="1" {{promotion==1? ' selected': ''}}>首页</option>
		</select>
	</form>
</div>
<table class="table table-hover">
	<thead>
		<tr>
			<th width="30"><input type="checkbox" rel="#news-trash-btn" /></th>
			<th width="60">图标</th>
			<th>标题</th>
			<th width="70">首页位置</th>
			<th width="90">最后更新</th>
			<th width="66"></th>
		</tr>
	</thead>
	<tbody>
		{% for item in data.items %}
		<tr data-id="{{item._id}}">
			<td><input type="checkbox" name="news" value="{{item._id}}" /></td>
			<td>{% if item.icon %}<img src="{{item.icon}}" class="news-icon" />{% endif %}</td>
			<td>{% if item.type == 'link' %}<i class="fa fa-html5"></i> {% endif %}{{item.res_type|restype}}<span class="push-text">{{item.title}}</span></td>
			<td>{{item.promotion|status}}</td>
			<td>{{item.modified_on? item.modified_on|date('Y-m-d H:i:s'): item.create_time|date('Y-m-d H:i:s')}}</td>
			<td class="table-action">
				<a class="fa icon-edit" app-bubble="false"></a>
				<a href="javascript:;" class="fa fa-arrow-circle-o-up" data-action="push" data-mod="news" title="推送" app-bubble="false"></a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% include '_pagination.html' with data %}