{% set _Title = '认证名称管理' %}
{% extends '_base.html' %}

{% block css %}
{% endblock %}

{% block main %}
	<h1>认证管理 <small>会员</small></h1>
	<div id="main-content">
		<div class="breadcrumbs">
			<ul>
				<li>
					<a href="index.html">首页</a>
					<i class="fa fa-angle-right"></i>
				</li>
				<li>
					<span>认证名称管理</span>
				</li>
			</ul>
			<div class="close-bread">
				<a>
					<i class="fa fa-times"></i>
				</a>
			</div>
		</div>
		<div class="text-right bar">
			{% if check_perm('members', 'ADD') %}<button type="button" id="category-btn" class="btn btn-success"><b class="fa fa-plus"></b>新建认证</button>{% endif %}
			{% if check_perm('members', 'DELETE') %}<button type="button" id="category-trash-btn" class="btn disabled"><b class="fa fa-trash"></b>删除选中</button>{% endif %}
		</div>
		<div id="category-list">
			{% include 'member/ident-list.html' %}
		</div>
	</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {
	$('#category-btn').on('click', function() {
		App.Box.open('member/ident-form.html');
	});
	$('#category-list').on('click', 'a.icon-edit', function() {
		var id = $(this).closest('tr').attr('cat-id');
		App.Box.open('member/ident-form.html?id=' + id);
	});
	$('#category-trash-btn').on('click', function() {
		if(!$(this).hasClass('disabled')) {
			var ids = [];
			$('#category-list input[name="name"]:checked').each(function() {
				ids.push(this.value);
				this.checked = false;
			});
			App.ajax({
				url: 'member/ident-delete.html',
				data: {'items[]': ids},
				target: '#category-list',
				dataType: 'html',
				type: 'post'
			});
		}
	});
});
</script>
{% endblock %}
