<div class="text-right bar">
    {% if check_perm('main-contents', 'ADD') %}<button id="tweet-add-btn" class="btn btn-success"><b class="fa fa-plus"></b>新建</button>{% endif %}
    {% if check_perm('main-contents', 'DELETE') %}<button id="tweet-trash-btn" class="btn disabled"><b class="fa fa-trash"></b>删除选中</button>{% endif %}
    <form action="tweet/index.html" method="GET" style="margin-top: -1px;">
        <select name="tweet-type" class="form-control" style="float: left; width: 80px;" onchange="if(!this.value) { this.disabled = true; } this.form.submit();">
            <option value="">全部</option>
            <option value="hot" {{tweet_type=='hot' ? 'selected': ''}}>热贴</option>
            <option value="top" {{tweet_type=='top' ? 'selected': ''}}>置顶</option>
            <option value="recommand" {{tweet_type=='recommand' ? 'selected': ''}}>精华</option>
            <option value="pushed" {{tweet_type=='pushed' ? 'selected': ''}}>推送</option>
        </select>
        {#
        <select name="group-id" class="form-control" style="float: left; width: 150px;" onchange="if(!this.value) { this.disabled = true; } this.form.submit();">
            <option value="">版块</option>
            {% for group in groups %}
            <option value="{{group._id}}" {{group_id==group._id? ' selected': ''}}>{{group.title}}</option>
            {% endfor %}
        </select>
        #}
        <select name="tag-id" class="form-control" style="float: left; width: 150px;" onchange="if(!this.value) { this.disabled = true; } this.form.submit();">
            <option value="">标签</option>
            {% for tag in tags %}
            <option value="{{tag._id}}" {{tag_id==tag._id? ' selected': ''}}>{{tag.name}}</option>
            {% endfor %}
        </select>
        {#
		<select name="topic-id" class="form-control" style="float: left; width: 150px;" onchange="if(!this.value) { this.disabled = true; } this.form.submit();">
            <option value="">话题</option>
	        {% for topic in topics %}
	        <option value="{{topic._id}}" {{topic_id==topic._id? ' selected': ''}}>{{topic.title}}</option>
	        </option>		
			{% endfor %}
		</select>
        #}
        <input type="text" name="title" class="form-control" style="float: left; margin-left: 10px; width: 150px;" name="title" value="{{title}}" placeholder="请输入标题关键字" />
		<input type="text" id="user_nick" name="author" value="{{author}}" class="form-control" style="float: left; margin-left:10px; width: 150px;" placeholder="作者">
<input type="text" class="datepicker" name="start" value="{{start}}" class="form-control" style="float: left; margin-left:10px; width:150px; height:34px;" placeholder="开始时间">
<input type="text" class="datepicker" name="end" value="{{end}}" class="form-control" style="float: left; width:150px; height:34px;" placeholder="结束时间">
        <button type="submit" class="btn btn-success" style="height: 34px;">查询</button>
        {% if title!='' %}<a class="search_remove" href="tweet/index.html" alt="清除"><i class="fa fa-remove"></i></a>{% endif %}
    </form>
</div>
{#
<button type="submit" id="select_nick" class="btn btn-success" style="height: 34px;">查询</button>
#}
<table class="table table-hover">
    <thead>
        <tr>
            <th width="30">
                <input type="checkbox" rel="#tweet-trash-btn" />
            </th>
            <th width="350">内容</th>
            <th width="80">作者</th>
           <!-- 
            <th width="80">版块</th>
            <th width="80">话题</th>
           -->
            <th width="80">标签</th>
            <th width="80">评论次数</th>
            <th width="80">查看次数</th>
            <th width="80">点赞次数</th>
            <th width="40"><i class="fa fa-image"></i></th>
            <th width="40">置顶</th>
            <th width="90">最后更新</th>
            <th width="80"></th>
        </tr>
    </thead>
    <tbody>
        {% for item in data.items %}
        <tr data-id="{{item._id}}">
            <td>
                <input type="checkbox" name="tweet" value="{{item._id}}" />
            </td>
            <td width="350" style="max-width:350px;">
                <h5>{{item.content.title}}</h5>
                <h6>ID#: {{item._id}}</h6>
                <span class="push-text">{{item.content.text|nl2br}}</span>
                <p style="color: #369;">
                    {{item.hot? '热贴': ''}}&nbsp; {{item.top? '置顶': ''}}&nbsp; {{item.recommand? '精华': ''}}
                </p>
            </td>
            <td class="nick">{{item.user_id and authors[item.user_id]? authors[item.user_id]['nick']: ''}}</td>
            {#
            <td>{{item.group_id and Sections[item.group_id]? Sections[item.group_id]: ''}}</td>
			<td>{% for topic in item.topic -%}
				{% if loop.index0> 0 %} ,{% endif %}{{topic.name}}
			{%- endfor %}
			</td>
            #}
            <td>{% for topic in item.content.tweet_tag -%}
                {% if loop.index0> 0 %} ,{% endif %}{{topic.name}}
            {%- endfor %}
            </td>
            
            <td align="center">{{item.comments_counter|number_format}}</td>
            <td align="center">{{item.views_counter|number_format}}</td>
            <td align="center">{{item.likes_counter|number_format}}</td>
            <td><i class="fa fa-image" style="color: {{item.content.photos? '#369': '#efefef'}};"></i></td>
            <td>
                <input type="checkbox" class="chkbox" id="reco-{{item._id}}" {{item.inTop.status? ' checked': ''}} />
                <label data-action="top"></label>
            </td>
            <td>{{item.modified_on? item.modified_on|date('Y-m-d H:i:s'): item.create_time|date('Y-m-d H:i:s')}}</td>
            <td class="table-action">
                <a class="fa icon-edit" app-bubble="false"></a>
                {% if check_perm('main-contents', 'DELETE') %}<a href="javascript:;" class="fa fa-arrow-circle-o-up" data-action="push" data-mod="tweet" title="推送" app-bubble="false"></a>{% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include '_pagination.html' with data %}
