<nav>
  <div class="pagination-info">
    第 {{pn|number_format}} / {{pages|number_format}} 页， 
    共 {{total|number_format}} 行
  </div>
  <ul class="pagination">
    <li{{pn > 1? '': ' class="disabled"'}}>
      <a href="{{pn > 1? url ~ '1': 'javascript:;'}}" title="首页">
        <span class="fa fa-angle-left"></span>
      </a>
    </li>
    <li{{pn > 1? '': ' class="disabled"'}}>
      <a href="{{pn > 1? url ~ (pn - 1): 'javascript:;'}}" title="上一页">
        <span class="fa fa-angle-double-left"></span>
      </a>
    </li>
    {% set start = pn - 2 %}
    {% if start < 1 %}{% set start = 1 %}{% endif %}
    {% set end = start + 5 %}
    {% if end > pages%}{% set end = pages%}{% endif %}
    {% for i in range(start, end > start? end: start) %}
    <li{{pn == i? ' class="active"': ''}}><a href="{{url}}{{i}}">{{i}}</a></li>
    {% endfor %}
    <li{{pn < pages? '': ' class="disabled"'}}>
      <a href="{{pn < pages? url ~ (pn + 1): 'javascript:;'}}" title="下一页">
        <span class="fa fa-angle-double-right"></span>
      </a>
    </li>
    <li{{pn < pages? '': ' class="disabled"'}}>
      <a href="{{pn < pages? url ~ pages: 'javascript:;'}}" title="最后一页">
        <span class="fa fa-angle-right"></span>
      </a>
    </li>
  </ul>
</nav>